.focus {
    float: left;
}

.unfocus {
    color: aqua;
}

img {
    float: right;
    height: 10%;
    width: 10%;
}

.column {
    width: 100px;
    float: left;
    margin: 10px;
    border: 3px red solid;
    padding: 16px;
}